<html lang="de">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Gibson OS</title>
        <script type="text/javascript">
            /* <![CDATA[ */
            const domain = '{{ domain }}';
            const baseDir = '{{ baseDir }}';
            const serverDate = {{ serverDate|json_encode|raw }};

            const post = {{ app.request.post|json_encode|raw }};
            const get = {{ app.request.get|json_encode|raw }};
            const request = {{ app.request.request|json_encode|raw }};
            /* ]]> */
        </script>
        <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href="js/ext/resources/css/ext-all.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/icons.css" />
        <link rel="stylesheet" type="text/css" href="fontawesome/css/brands.css" />
        <link rel="stylesheet" type="text/css" href="fontawesome/css/solid.css" />
        <script type="text/javascript" src="js/ext/ext-all-debug.js"></script>
        <script type="text/javascript" src="js/functions.js"></script>
        <script type="text/javascript" src="js/elements.js"></script>
        {% if session.isLogin() %}
            <script type="text/javascript" src="js/desktop.js"></script>
            <script type="text/javascript" src="core/javascript/index/module/all/all"></script>
            <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
            <script type="text/javascript" src="js/jsplumb.min.js"></script>
            <script type="text/javascript" src="js/jsplumb.min.js"></script>
            <link rel="stylesheet" type="text/css" href="css/custom_icons.css" />
            <link rel="stylesheet" type="text/css" href="core/css/index/module/all/all" />
        {% else %}
            <script type="text/javascript" src="core/javascript/index/module/system/task/user"></script>
        <link rel="stylesheet" type="text/css" href="core/css/index/module/system/task/user" />
        {% endif %}
    </head>
    
    <body scroll="no" id="body">
    <div id="extBody"></div>
    <script type="text/javascript">
        /* <![CDATA[ */
        Ext.onReady(function()
        {
            {% set moduleName = request.getModuleName() == 'core' ? 'system' : request.getTaskName() %}
            {% set taskName = request.getTaskName() %}
            {% set actionName = request.getActionName() %}
            {% if session.getWithDefault('login', false) != true %}
                {% set taskName = 'user' %}
                {% set actionName = 'login' %}
            {% endif %}

            if (
                GibsonOS.module.{{ moduleName }} &&
                GibsonOS.module.{{ moduleName }}.{{ taskName }}
            ) {
                {% set jsModule = 'GibsonOS.module.' ~ moduleName ~ '.' ~ taskName ~ '.' ~ actionName %}

                if ({{ jsModule }}) {
                    if (typeof({{ jsModule }}.App) === "function")  {
                        new {{ jsModule }}.App();
                    } else if (typeof({{ jsModule }}.Window) === "function")  {
                        new {{ jsModule }}.Window();
                    }
                }
            } else if (typeof({{ moduleName|lower }}{{ taskName|capitalize }}{{ actionName|capitalize }}) == "function") {
                // Old way
                {{ moduleName|lower }}{{ taskName|capitalize }}{{ actionName|capitalize }}();
            }
        });
        /* ]]> */
    </script>
    <div id="taskbar"></div>
    </body>
</html>