<html lang="de">
<head>
    <title>{{ exception.code }} - {{ exception.message }}</title>
</head>

<body>
    <h1>{{ exception.code }} - {{ exception.message }}</h1>
    <h3>{{ exception.class }}{{ exception.type }}{{ exception.function }}({{ exception.line }})</h3>
    <hr />

</body>
</html>